.container {
    width: 95%;
}

table.table-headerfixed {
    width: 100%;
}

table.table-headerfixed thead
table.table-headerfixed tbody,
table.table-headerfixed tr,
table.table-headerfixed td,
table.table-headerfixed th {
    display: block;
}

table.table-headerfixed tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.table-headerfixed tbody {
    height: 500px;
    overflow-y: scroll;
}

table.table-headerfixed thead {
    width: 97%;
    width: calc(100% - 17px);
}

table.table-headerfixed tbody td,
table.table-headerfixed thead th {
    float: left;
    height: 35px;
}
